<div class="custom-password-container">
  <input
    [id]="id"
    [type]="inputType"
    [value]="value"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [required]="required"
    (input)="onInput($event)"
    (blur)="onBlur()"
    class="password-input"
    [class.disabled]="disabled">

  <button
    type="button"
    class="toggle-button"
    [disabled]="disabled"
    (click)="togglePasswordVisibility()"
    [title]="showPassword ? 'Ocultar senha' : 'Mostrar senha'">
    <i [class]="toggleIcon"></i>
  </button>
</div>
